# Logs - 日志文件
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build Output - 依赖和构建产物
node_modules
.DS_Store
dist/
dist-ssr/
coverage/
*.local
test.html

# Environment variables - 环境变量
.env
.env.local
.env.*.local

# VitePress specific files - VitePress 特有文件
.vitepress/dist/
.vitepress/cache/
.vitepress/.temp/
.vitepress/components.d.ts
.vitepress/auto-imports.d.ts

# Project specific ignores - 项目特有忽略
.npmrc

# Editor Configuration - 编辑器/IDE 配置
.vscode/*
!.vscode/extensions.json
# !.vscode/settings.json # settings.json 将被 .vscode/* 忽略

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other Service Configuration / Caches - 其他服务配置/缓存
.vercel/

# --- 不应忽略的文件列表---
# 这些文件应始终被 Git 跟踪和上传：
# .eslintignore
# .eslintrc.js
# .gitignore (文件自身)
# .prettierignore
# .prettierrc.json
# generate-selfies.js
# index.md
# LICENSE
# package.json
# page.md
# pnpm-lock.yaml  (非常重要，用于保证依赖版本一致性)
# README.md
# siteSettings.mjs
# themeConfig.mjs